body{
    background-image: url('Design ohne Titel (8).png');
    background-repeat: no-repeat;
    background-size: cover;
}


@font-face {
    font-family: "All Over Again"; 
    src: url("all_over_again_caps.ttf") format("truetype");}
