body{
    background-image: url('Design ohne Titel (8).png');
    background-repeat: no-repeat;
    background-size: cover;
}


@font-face {
    font-family: "All Over Again"; 
    src: url("all_over_again_caps.ttf") format("truetype");}



/* Flower 59 - https://www.cursors-4u.com/cursor/flower-59 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/flower-59-a891180a-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */
 html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0; /* remove scrollbar space */
background: transparent; /* to make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
background: transparent;
}

::selection {
/* Change highlight background color */
background: 	#C9C0BB;
/* Change highlight text color */

}


[id^="mydiv"] {
  position: absolute;
  z-index: 5; 
  width: 5%;  
  height: 8%;
}

#mydiv {
  z-index: 5; 
}


#mydiv   { top: 10%; left: 10%; }   #mydiv2  { top: 10%; left: 22%; }   #mydiv3  { top: 10%; left: 34%; }
#mydiv4  { top: 10%; left: 46%; }   #mydiv5  { top: 10%; left: 58%; }   #mydiv6  { top: 10%; left: 70%; }


#mydiv7  { top: 30%; left: 10%; }   #mydiv8  { top: 30%; left: 22%; }   #mydiv9  { top: 30%; left: 34%; }
#mydiv10 { top: 30%; left: 46%; }   #mydiv11 { top: 30%; left: 58%; }   #mydiv12 { top: 30%; left: 70%; }


#mydiv13 { top: 50%; left: 10%; }   #mydiv14 { top: 50%; left: 22%; }   #mydiv15 { top: 50%; left: 34%; }
#mydiv16 { top: 50%; left: 46%; }   #mydiv17 { top: 50%; left: 58%; }   #mydiv18 { top: 50%; left: 70%; }


#mydiv19 { top: 70%; left: 10%; }   #mydiv20 { top: 70%; left: 22%; }   #mydiv21 { top: 70%; left: 34%; }
#mydiv22 { top: 70%; left: 46%; }


[id^="mydiv"][id$="header"], #mydivheader {
  cursor: move;
  padding: 0;
  margin: 0;
}

[id^="mydiv"] img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#drawing-board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; 
  display: block;
}

.container, #toolbar, h1 {
  position: relative;
  z-index: 10; 
}

.container {
    height: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90px;
    height: 30%;
    background-color: #C9C0BB;
    border-radius: 16px;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}
